<template>
	<article>
		<h2 v-if="!editMode && !createdMode">Détail</h2>
		<h2 v-if="editMode && !createdMode">Edition de {{department.designation}}</h2>
		<h2 v-if="!editMode && createdMode">Création d'un nouveau département</h2>
		<div class="group-cat">
			<div>
				<span>Nom de département</span>
			</div>
			<div>
				<span v-if="!editMode && !createdMode">{{ department.designation }}</span>
				<input v-else-if="!createdMode" type="text" v-model="department.designation" />
				<input v-else type="text" v-model="department.designation" />
			</div>
		</div>
		<div class="group-cat">
			<div>
				<span>Préfécture de {{ department.designation }}</span>
			</div>
			<div>
				<span v-if="!editMode && !createdMode">{{ department.prefecture }}</span>
				<input v-else-if="!createdMode" type="text" v-model="department.prefecture" />
				<input v-else type="text" v-model="department.prefecture" />
			</div>
		</div>
		<div class="group-cat">
			<div>
				<span>Population de {{ department.designation }}</span>
			</div>
			<div>
				<span v-if="!editMode && !createdMode">{{ department.population }}</span>
				<input v-else-if="!createdMode" type="number" v-model="department.population" />
				<input v-else type="number" v-model="department.population" />
			</div>
		</div>
		<div class="group-cat-submit">
			<div>
				<input v-if="editMode" v-on:click="handleEdit(department)" type="submit" value="Sauvegarder"  />
				<input v-else-if="createdMode" v-on:click="handleCreated(department, departmentId)" type="submit" value="Créer"  />
			</div>
		</div>
	</article>
</template>

<script>
import {mapActions} from 'vuex'

export default {
	name: "Detail",
	props: {
		department: {
			type: Object,
			default: function () {
				return {}
			}
		},
		departmentId: {
			type: Number,
			default: null
		},
		editMode: {
			type: Boolean,
			default: null
		},
		createdMode: {
			type: Boolean,
			default: null
		}
	},
	methods: {
		...mapActions({
			edit: 'edit',
			add: 'add'
		}),

		handleEdit: function(department) {
			this.edit(department);
			this.$emit("click");
		},
		handleCreated: function(department, departmentId) {
			this.add({department, departmentId});
			this.$emit("click");
		}
	}
}
</script>

<style scoped>
h2 {
	color: white;
}

.group-cat {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-height: 40px;
}

.group-cat-submit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	padding: 10px 0;
}

.group-cat > div {
	min-width: 250px;
	width: 250px;
	color: white;
	display: flex;
	justify-content: flex-start;
	padding: 10px;
}

.group-cat > div > span {
	overflow-x: hidden;
	white-space: nowrap;
}

.group-cat > div > input {
	height: 35px;
	background-color: #611B3A;
	color: white;
	border: 0 solid #b1f4ff;
}

.group-cat-submit > div > input {
	height: 35px;
	background-color: #611B3A;
	color: #FF8800;
	border: 1px solid #FF8800;
}

.group-cat-submit > div > input:hover {
	height: 35px;
	background-color: #FF8800;
	color: #611B3A;
	border: 1px solid #FF8800;
	cursor: pointer;
}
</style>