<template>
	<div v-if="departmentId !== departmentIdSelected" class="unselected">
		<p v-on:click="$emit('click')">{{ designation }}</p>
		<span class="edit" v-on:click="$emit('clickEdit')"></span>
		<span class="delete" v-on:click="$emit('clickDelete')"></span>
	</div>
	<div v-else class="selected">
		<p v-on:click="$emit('click')">{{ designation }}</p>
		<span class="edit" v-on:click="$emit('clickEdit')"></span>
		<span class="delete" v-on:click="$emit('clickDelete')"></span>

	</div>
</template>

<script>
export default {
	name: "List",
	props: {
		designation: {
			type: String,
			default: ''
		},
		departmentId: {
			type: Number,
			default: null
		},
		departmentIdSelected: {
			type: Number,
			default: null
		}
	}
}
</script>

<style scoped>
div {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	z-index: -1;
}
p {
	color: #fff;
	padding: 10px;
	text-align: left;
	width: 100%;
	height: 100%;
}
.unselected:hover {
	background-color: #FF8800;
	border-radius: 5px;
	cursor: pointer;
}
.selected {
	background-color: #FF8800;
	border-radius: 5px;
	cursor: pointer;
}

.edit {
	background-image: url("./../../assets/edit.svg");
	width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	z-index: 999;
}

.delete {
	background-image: url("./../../assets/delete.svg");
	width: 30px;
	height: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	z-index: 999;
}
</style>