<template>
	<article class="title">
		<h1>{{ name }}</h1>
	</article>
</template>

<script>
export default {
	name: "Title",
	props: {
		name: {
			type: String,
			default: ''
		}
	}
}
</script>

<style scoped>
.title {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #611B3A;
	color: white;
}

h1 {
	font-size: 20px;
	text-align: left;
	padding: 0 10px;
}
</style>