<template>
	<div class="window">
		<Title v-if="departmentId === null" name="Départments d'Auvergne" />
		<Title v-else :name="getDepartment(departmentId) !== undefined ? getDepartment(departmentId).designation : 'Création'" />
		<section class="box-container">
			<div class="box">
				<List
					v-for="department in getDepartments"
					:key="department.id"
					:department-id="department.id"
					:department-id-selected="departmentId"
					:designation="department.designation"
					v-on:click="handleClick(department.id)"
					v-on:clickEdit="handleClickEdit(department.id)"
					v-on:clickDelete="handleClickDelete(department.id)"
				/>
				<div class="add-container">
					<span v-on:click="handleCreated" class="add-button"></span>
				</div>
			</div>
			<div class="box">
				<div v-if="isActive || editMode || createdMode">
					<Detail
						:created-mode="createdMode"
						:edit-mode="editMode"
						v-on:click="submit"
						:department="getDepartment(departmentId)"
						:department-id="departmentId"
					/>
				</div>
			</div>
		</section>
	</div>
</template>

<script>

import Title from "./Title";

import {mapActions, mapGetters} from 'vuex';
import List from "./Department/List";
import Detail from "./Department/Detail";


export default {
	name: "Window",
	components: {Detail, List, Title},
	data: function () {
		return {
			isActive: null,
			departmentId: null,
			editMode: null,
			createdMode: null
		}
	},
	comments: {
		Title
	},
	computed: {
		...mapGetters({
			getDepartments: 'getDepartments',
			getDepartment: 'getDepartment'
		})
	},
	methods: {
		...mapActions({
			delete: 'delete'
		}),

		handleClick: function(departmentId) {
			if (this.departmentId === departmentId && (!this.editMode || !this.createdMode)) {
				this.isActive = !this.isActive
				this.departmentId = null
			} else {
				this.isActive = true
				this.departmentId = departmentId
			}
			this.editMode = false;
			this.createdMode = false;
		},
		submit: function() {
			this.editMode = false;
			this.createdMode = false;
		},
		handleCreated: function() {
			this.createdMode = true;
			this.departmentId = this.getDepartments.length;
		},
		handleClickEdit: function(departmentId) {
			this.departmentId = departmentId;
			this.editMode = true;
		},
		handleClickDelete: function(departmentId) {
			if (confirm("Êtes vous sur de vouloir supprimer ce département")) {
				this.delete(departmentId);
				this.isActive = false;
				this.editorMode = false;
				this.createdMode = false;
			}
		}
	}
}
</script>

<style scoped>
.window {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 75%;
}

.box-container {
	background-color: rgba(42, 6, 11, 0.96);
	height: 75vh;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	justify-content: space-between;
}

.box {
	background-color: #480521;
	width: 50%;
	border-radius: 5px;
	height: 95%;
	margin: 10px;
}
.add-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.add-button {
	background-image: url("./../assets/add.svg");
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
}
</style>
