<!--
/**
* --------------------------------------------------------------------------
* @Copyright : SAS Spopit
*
* @Author : Alexandre Caillot
*
* @File : App.vue
* @Created_at : 08/06/2020
* @Update_at : 08/06/2020
* --------------------------------------------------------------------------
*/
-->

<style>
#app {

	color: #2c3e50;
	text-align: center;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	box-sizing: border-box;

	background-image: url("./assets/default.webp");
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 50%;

}

html, body {
	height: 100%;
	margin: 0;
}
</style>

<script>
export default {
	name: 'app'
}
</script>

<template>
	<section id="app">
		<router-view/>
	</section>
</template>
